<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	
<!-- Fontawesome icons -->	
<script src="https://kit.fontawesome.com/0a5e42de01.js" crossorigin="anonymous"></script>

<title>Añadir usuario</title>

<script>
	function checkPassword(form) {
		
		password1 = form.password.value;
		password2 = form.confirmPassword.value;
		   
		if (password1 != password2) {
			alert("Las contraseñas no coinciden")
			return false;
		}
		else {
			return true;
		}
	}
</script>

</head>
<body>
<nav class="navbar navbar-dark bg-success">
			<div class="container-fluid">	
				<div class="d-flex"> 		 
	  				<a th:href="@{/logout}">
	  					<button type="button" class="btn btn-success">
	  					<i class="fa-regular fa-circle-left"></i>
	  					Salir</button>
	  				</a>
		  		 	
		  		 	<div class="dropdown">
		  		 		<button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">
			  		 		<img th:src="${#authentication.principal.img}" width="30">
			  		 		<i th:unless="${#authentication.principal.img}" class="fa-regular fa-user"></i>
			  		 		<span th:text=${#authentication.name}></span>
		  		 		</button>
						<div class="dropdown-menu">
						    <a class="dropdown-item" th:href="@{'/usuario/update'(id=${#authentication.name})}">Modificar datos</a>
						    <a class="dropdown-item" th:href="@{'/usuario/update/password'(id=${#authentication.name})}">Modificar contraseña</a>
						    <a class="dropdown-item" th:href="@{'/usuario/orders'}">Ver historial de pedidos</a>
						</div>
					</div>
	  		 	</div> 
	  		 	<div class="d-flex">
	   				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/usuario/list?stringFind=}"><button type="button" class="btn btn-light">Usuarios</button></a>
	   				<a th:href="@{/categoria/list?stringFind=}"><button type="button" class="btn btn-success">Categorías</button></a>
	   				<a th:href="@{/articulo/list?stringFind=}"><button type="button" class="btn btn-success">Artículos</button></a>
	   			</div>
	   			
	 		 	<div class="d-flex" style="float:right">
	 		 		<a sec:authorize="hasAuthority('USER')" th:href="@{/carrito}"><button type="button" class="btn btn-success"><i class="fa-solid fa-cart-shopping"></i></button></a>
	 		 	</div>
	 		</div>
	 	</nav>
	<form class="form-horizontal" action="#" th:action="@{/usuario/add}" th:object="${newUser}" method="post"
	 onSubmit="return checkPassword(this)" enctype="multipart/form-data">
		<fieldset>

			<legend>Nuevo usuario</legend>

			<div class="form-group">
				<label class="col-md-4 control-label" for="name">Nombre completo:</label>
				<div class="col-md-4">
					<input id="name" name="name" type="text" th:field= "*{name}" class="form-control input-md" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="email">Email: </label>
				<div class="col-md-4">
					<input id="email" name="email" type="email" th:field= "*{email}" class="form-control input-md">

				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="username">Nombre de usuario:</label>
				<div class="col-md-4">
					<input id="username" name="username" type="text" th:field= "*{username}" class="form-control input-md" required>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="password">Contraseña:</label>
				<div class="col-md-4">
					<input id="password" name="password" type="password" th:field= "*{password}" class="form-control input-md" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="confirmPassword">Repite la contraseña:</label>
				<div class="col-md-4">
					<input id="confirmPassword" name="confirmPassword" type="password" class="form-control input-md" required>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="file">Foto de perfil:</label>
				<div class="col-md-4">
					<input id="file" name="file" type="file" class="form-control input-md" accept="image/*">
				</div>
			</div>
			
			<input id="admin" name="admin" type="text" th:field= "*{admin}" value="false" class="form-control input-md" hidden>

			<div class="form-group">
				<label class="col-md-4 control-label" for="send"></label>
				<div class="col-md-4">
					<a href="/usuario/list"><button type="button" id="back" name="back" class="btn btn-secondary">Volver</button></a>
					<button id="send" name="send" class="btn btn-primary">Enviar</button>
				</div>
			</div>

		</fieldset>
	</form>
</body>
</html>