<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	
<!-- Fontawesome icons -->	
<script src="https://kit.fontawesome.com/0a5e42de01.js" crossorigin="anonymous"></script>

<script type="text/javascript">
	function clearSearch() {
	window.location = "[[@{/articulo/list}]]";
	}
</script>

<title>Artículos</title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-dark bg-success">
			<div class="container-fluid">	
				<div class="d-flex"> 		 
	  				<a th:href="@{/logout}">
	  					<button type="button" class="btn btn-success">
	  					<i class="fa-regular fa-circle-left"></i>
	  					Salir</button>
	  				</a>
		  		 	
		  		 	<div class="btn-group">
		  		 		<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  		 		<!-- <i class="fa-regular fa-user"></i>  -->
			  		 		<img th:src="${#authentication.principal.img}" width="30">
			  		 		<span th:text=${#authentication.name}></span>
		  		 		</button>
						<div class="dropdown-menu">
						    <a class="dropdown-item" th:href="@{'/usuario/update'(id=${#authentication.name})}">Modificar datos</a>
						    <a class="dropdown-item" href="#">Modificar contraseña (sin enlace)</a>
						    <a class="dropdown-item" th:href="@{'/usuario/orders'}">Ver historial de pedidos</a>
						</div>
					</div>
	  		 	</div> 
	  		 	<div class="d-flex">
	   				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/usuario/list?stringFind=}"><button type="button" class="btn btn-success">Usuarios</button></a>
	   				<a th:href="@{/categoria/list?stringFind=}"><button type="button" class="btn btn-success">Categorías</button></a>
	   				<button class="btn btn-light">Artículos</button>
	   			</div>
	   			
	   			<form class="d-flex form-inline" th:action="@{/articulo/list}">
		   			<div class="input-group">
			   			<input type="text" name="stringFind" id="stringFind" size="30"
						th:value="${keyword}" class="form-control input-md border-right-0 border" placeholder="Búsqueda por nombre">
						<span class="input-group-append">
			                <button class="btn btn-light border-left-0 border" 
			                	id="btnClear" onclick="clearSearch()" type="button">
			                    <i class="fa fa-times"></i>
			                </button>
			            </span>&nbsp;
						<button type="submit" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button> &nbsp; 
		   			</div>
	 		 	</form>
	 		 	<div class="d-flex" style="float:right">
	 		 		<a sec:authorize="hasAuthority('USER')" th:href="@{/carrito}"><button type="button" class="btn btn-success"><i class="fa-solid fa-cart-shopping"></i></button></a>
	 		 	</div>
	 		</div>
	 	</nav>
 	
		<div class="starter-template">
			<h1>Listado de flores</h1>
			<div align="right" sec:authorize="hasAuthority('ADMIN')"><a href="/articulo/add"><button type="button" class="btn btn-dark"><i class="fa-solid fa-plus"></i></button></a></div>
			<table class="table">
				<thead>
					<tr>
						<th><a th:href="@{'/articulo/list?sortField=code&&pageNumber=' + ${currentPage} + '&&stringFind=' + ${keyword}}">CÓDIGO</a></th>
						<th><a th:href="@{'/articulo/list?sortField=name&&pageNumber=' + ${currentPage} + '&&stringFind=' + ${keyword}}">NOMBRE</a></th>
						<th><a th:href="@{'/articulo/list?sortField=description&&pageNumber=' + ${currentPage} + '&&stringFind=' + ${keyword}}">DESCRIPCIÓN</a></th>
						<th><a th:href="@{'/articulo/list?sortField=price&&pageNumber=' + ${currentPage} + '&&stringFind=' + ${keyword}}">PRECIO</a></th>
						<th><a th:href="@{'/articulo/list?sortField=color&&pageNumber=' + ${currentPage} + '&&stringFind=' + ${keyword}}">COLOR</a></th>
						<th><a th:href="@{'/articulo/list?sortField=stock&&pageNumber=' + ${currentPage} + '&&stringFind=' + ${keyword}}">STOCK</a></th>
						<th sec:authorize="hasAuthority('ADMIN')">ACCIONES</th>
						<th sec:authorize="hasAuthority('USER')">COMPRAR</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="flower :${flowers}">
						<td th:text="${flower.code}"></td>
						<td th:text="${flower.name}"></td>
						<td th:text="${flower.description}"></td>
						<td th:text="${flower.price}"></td>
						<!--<td th:text="${flower.color.toString()}"></td> es posible salto de linea en toString?-->
						<!-- salto de línea aquí: th:utext y '<br/>'-->
						<td th:utext="${flower.color.code} + '<br/>' + ${flower.color.name}"></td>
						<td th:text="${flower.stock}"></td>
						<td sec:authorize="hasAuthority('ADMIN')">
							<a th:href="@{'/articulo/delete'(id=${flower.code})}" >
								<button id="delete" name="delete" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
							</a> 
							<a th:href="@{'/articulo/update'(id=${flower.code})}" >
								<button id="update" name="update" class="btn btn-primary"><i class="fa-solid fa-pen"></i></button>
							</a>
						</td>
						<td sec:authorize="hasAuthority('USER')">
							<form th:action="@{/carrito/add}" method="post">
								<input type="text" id="article" name="article" th:value="${flower.code}" hidden>
								
								<span th:unless="${flower.stock > 0}">No disponible</span>
								<div class="input-group">
									<input th:if="${flower.stock > 0}" type="number" class="form-control input-md border-right-0 border" 
											size="1" th:max="${flower.stock}" th:min="1" id="quantity" name="quantity">
									<span class="input-group-append">
										<button th:if="${flower.stock > 0}" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></button>
									</span>
								</div>
							</form>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
		
		<nav>
		<ul class="pagination">
		<li class="page-item">
		<a class="page-link" th:text="'Total Items: ' + ${totalItems}" th:href="@{'/articulo/list?sizeNumber=' + ${totalItems}+ '&&stringFind=' + ${keyword}+ '&&color=' + ${colorCode}}"></a><!-- pulsando aquí se verían sin paginación -->
		</li>
		
		<li class="page-item">
			<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/articulo/list?pageNumber=1&&sortField=' + ${sortField}+ '&&stringFind=' + ${keyword}+ '&&color=' + ${colorCode}}"> First</a>
		</li>
		<li class="page-item disabled">
			<span class="page-link" th:unless="${currentPage > 1}">First</span>
		</li>
		
		<li class="page-item">
			<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/articulo/list?pageNumber=' + ${currentPage - 1}+ '&&sortField=' + ${sortField}+ '&&stringFind=' + ${keyword}+ '&&color=' + ${colorCode}}">Previous</a>
		</li>
		<li class="page-item disabled">
			<span class="page-link" th:unless="${currentPage > 1}">Previous</span>
		</li>
		
		<li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a class="page-link" th:if="${currentPage != i}" th:href="@{'/articulo/list?pageNumber=' + ${i}+ '&&sortField=' + ${sortField}+ '&&stringFind=' + ${keyword}+ '&&color=' + ${colorCode}}" th:text="${i}"></a>
			<span class="page-link" style="color:white;background-color:var(--bs-primary)" th:unless="${currentPage != i}" th:text="${i}"></span>
		</li>
		
		<li class="page-item">
			<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/articulo/list?pageNumber=' + ${currentPage + 1}+ '&&sortField=' + ${sortField}+ '&&stringFind=' + ${keyword}+ '&&color=' + ${colorCode}}">Next</a>
		</li>
		<li class="page-item disabled">
			<span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
		</li>
		
		<li class="page-item">
			<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/articulo/list?pageNumber=' + ${totalPages}+ '&&sortField=' + ${sortField}+ '&&stringFind=' + ${keyword}+ '&&color=' + ${colorCode}}">Last</a>
		</li>
		<li class="page-item disabled">
			<span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
		</li>
		</ul>
		</nav>
	</div>
</body>
</html>