<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	
<!-- Fontawesome icons -->	
<script src="https://kit.fontawesome.com/0a5e42de01.js" crossorigin="anonymous"></script>
	
<title>Carrito</title>

<script>
	function checkPassword(form) {
		
		password1 = form.password.value;
		password2 = form.confirmPassword.value;
		   
		if (password1 != password2) {
			alert("Las contraseñas no coinciden")
			return false;
		}
		else {
			return true;
		}
	}
</script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-dark bg-success">
			<div class="container-fluid">	
				<div class="d-flex"> 		 
	  				<a th:href="@{/logout}">
	  					<button type="button" class="btn btn-success">
	  					<i class="fa-regular fa-circle-left"></i>
	  					Salir</button>
	  				</a>
		  		 	<a th:href="@{'/usuario/update'(id=${#authentication.name})}">
		  		 		<button type="button" class="btn btn-success">
		  		 		<img th:src="${#authentication.principal.img}" width="30">
			  		 	<i th:unless="${#authentication.principal.img}" class="fa-regular fa-user"></i>
		  		 		<span th:text=${#authentication.name}></span>
		  		 		</button>
		  		 	</a>
	  		 	</div> 
	  		 	<div class="d-flex">
	   				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/usuario/list?stringFind=}"><button type="button" class="btn btn-success">Usuarios</button></a>
	   				<a th:href="@{/categoria/list?stringFind=}"><button type="button" class="btn btn-success">Categorías</button></a>
	   				<a th:href="@{/articulo/list?stringFind=}"><button type="button" class="btn btn-success">Artículos</button></a>
	   			</div>
	   			
	   			<form class="d-flex form-inline" th:action="@{/articulo/list}">
		   			<div class="input-group">
			   			<input type="text" name="stringFind" id="stringFind" size="30"
						th:value="${keyword}" class="form-control input-md border-right-0 border" placeholder="Búsqueda por nombre">
						<span class="input-group-append">
			                <button class="btn btn-light border-left-0 border" 
			                	id="btnClear" onclick="clearSearch()" type="button">
			                    <i class="fa fa-times"></i>
			                </button>
			            </span>&nbsp;
						<button type="submit" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button> &nbsp; 
		   			</div>
	 		 	</form>
	 		 	<div class="d-flex" style="float:right">
	 		 		<button type="button" class="btn btn-light"><i class="fa-solid fa-cart-shopping"></i></button>
	 		 	</div>
	 		</div>
	 	</nav>
 		<div class="starter-template" th:unless="${carro.size() > 0}">
 			<h2>No hay artículos en el carrito</h2>
 			<a th:href="@{'/articulo/list'}"><button type="button" class="btn btn-secondary">Volver</button></a>
 		</div>
		<div class="starter-template" th:if="${carro.size() > 0}">
			<h1>Artículos en el carrito</h1>
			<div align="right">
				<form th:action="@{/carrito/clear}" method="post">
				<button class="btn btn-dark"><i class="fa-solid fa-delete-left"></i></button>
				</form>
			</div>
			
			<table class="table">
				<thead>
					<tr>
						<th>ARTÍCULO</th>
						<th>CANTIDAD</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item :${carro}">
						<td th:text="${item.key}"></td>
						<td>
							<form th:action="@{/carrito/update}" method="post">
								<input type="number" id="article" name="article" th:value="${item.key.code}" hidden>
								<div class="input-group">
									<input th:if="${item.key.stock > 0}" type="number" class="form-control input-md border-right-0 border" 
										size="1" th:max="${item.key.stock}" th:min="1" id="quantity" name="quantity" th:value="${item.value}">
									<span class="input-group-append">
										<button class="btn btn-warning"><i class="fa-solid fa-rotate"></i></button>
									</span>
								</div>
							</form>
						</td>
					</tr>
					<tr>
						<td th:text="'Total: ' + ${total} + '€'"></td>
					</tr>
				</tbody>
			</table>
			<form th:action="@{/carrito/purchase}" method="post">
				<button type="button" class="btn btn-secondary" th:href="@{'/articulo/list'}">Volver</button> <!-- lo meto dentro de form por estilo en html -->
				<button class="btn btn-primary" style="float:center">Comprar</button>
			</form>
		</div>
	</div>
</body>
</html>